
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 24px;
    background-color: #c4c4c4;
    padding: 10px;
}


h3 {
    font-size: 24px;
}

p { 
    text-align: center;
}


ul {
    list-style: none;
    padding-left: 20px;
}

li {
    margin: 0;
}

label {
    display: block;
    margin: 20px 0 4px 0;
}

input, select {
    display: block;
    padding: 8px;
    width: 540px;
}

button {
    padding: 12px;
}

textarea {
    padding: 8px;
    width: 540px;
    height: 320px;
}